@include vs-at-breakpoint(xs) {
  $total-columns: total-columns(xs);
  @for $span from 1 through $total-columns {
    .vs-col-xs-#{$span} {
      @include vs-col(xs, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-xs-push-#{$push} {
      @include vs-col-push(xs, $push);
    }
  }
}

@include vs-at-breakpoint(sm) {
  $total-columns: total-columns(sm);
  @for $span from 1 through $total-columns {
    .vs-col-sm-#{$span} {
      @include vs-col(sm, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-sm-push-#{$push} {
      @include vs-col-push(sm, $push);
    }
  }
}

@include vs-at-breakpoint(md) {
  $total-columns: total-columns(md);
  @for $span from 1 through $total-columns {
    .vs-col-md-#{$span} {
      @include vs-col(md, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-md-push-#{$push} {
      @include vs-col-push(md, $push);
    }
  }
}

@include vs-at-breakpoint(lg) {
  $total-columns: total-columns(lg);
  @for $span from 1 through $total-columns {
    .vs-col-lg-#{$span} {
      @include vs-col(lg, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-lg-push-#{$push} {
      @include vs-col-push(lg, $push);
    }
  }
}

@include vs-at-breakpoint(xl) {
  $total-columns: total-columns(xl);
  @for $span from 1 through $total-columns {
    .vs-col-xl-#{$span} {
      @include vs-col(xl, $span);
    }
  }

  @for $push from 1 through $total-columns {
    .vs-col-xl-push-#{$push} {
      @include vs-col-push(xl, $push);
    }
  }
}
