@mixin vs-pre() {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: inherit;
  margin: 0;
}

@mixin vs-code($size) {
  white-space: pre;
  font-style: normal;
  line-height: 1.5;
  @include vs-font(mono);
  @include vs-font-size($size);
}
