@mixin vs-col($viewport, $span-columns, $push-columns: 0) {
  grid-column-end: span $span-columns;
}

@mixin vs-col-push($viewport, $push) {
  grid-column-start: $push + 1;
}

@mixin vs-col-end($viewport, $end) {
  grid-column-end: $end + 1;
}

@mixin vs-col-start($viewport, $start) {
  grid-column-start: $start;
}
