@mixin vs-list-item($size) {
  @include vs-font(system);
  @include vs-font-size($size);
  @include vs-line-height($size);

  display: list-item;

  a {
    @include vs-font(system);
    @include vs-font-size($size);
    @include vs-line-height($size);

    line-height: 1.6;
    display: inline;
    text-decoration: none;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }

  > ul > li:first-child {
    padding-top: 0;
  }
}

@mixin vs-list() {
  margin: 0;
  padding: 0;
  list-style: none;
  @include vs-margin(bottom, 2);

  .vs-list {
    @include vs-margin(left, 2);
  }

  & > ul,
  & > .vs-list-unordered {
    @include vs-margin(left, 4);
  }

  & > ol,
  & > .vs-list-ordered {
    @include vs-margin(left, 4);
  }
}

@mixin vs-list-unordered() {
  margin: 0;
  @include vs-margin(left, 2);
  padding: 0;
  list-style: disc;
  @include vs-margin(bottom, 2);

  .vs-list {
    @include vs-margin(left, 2);
  }

  ul,
  .vs-list-unordered {
    @include vs-margin(left, 2);
  }

  ol,
  .vs-list-ordered {
    @include vs-margin(left, 2);
  }
}

@mixin vs-list-ordered() {
  margin: 0;
  @include vs-margin(left, 2);
  padding: 0;
  list-style: decimal;
  @include vs-margin(bottom, 2);

  .vs-list {
    @include vs-margin(left, 2);
  }

  ul,
  .vs-list-unordered {
    @include vs-margin(left, 2);
  }

  ol,
  .vs-list-ordered {
    @include vs-margin(left, 2);
  }
}
