@mixin vs-paragraph($size) {
  @include vs-font(system);
  @include vs-font-size($size);

  margin: 0;
  @include vs-margin(bottom, 2);

  line-height: 1.6;

  a {
    display: inline;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}
