@mixin vs-text(
  $type,
  $size,
  $line-height: 4,
  $leading-top: 0,
  $leading-bottom: 0
) {
  @include vs-font($type);
  @include vs-font-size($size);
  @include vs-line-height($size);
}

@mixin vs-text-bold() {
  font-weight: bold;
}

@mixin vs-text-uppercase() {
  text-transform: uppercase;
}
