@mixin vs-paragraph($size) {;
  @include vs-font(system);
  @include vs-font-size($size);
  @include vs-line-height($size);
  @include vs-margin(bottom, 1);

  a {
    display: inline;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}
