@mixin vs-font($key) {
  $type-system: (
    font-family:
      '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
  );

  $type-system-bold: (
    font-family:
      '-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"'
  );

  $type-system-mono: (
    font-family:
      '"SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace;'
  );

  $fonts: (
    system: $type-system,
    system-bold: $type-system-bold,
    mono: $type-system-mono
  );

  font-family: unquote(map-get(map-get($fonts, $key), font-family));
}
